<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Address</key>
		<integer>0</integer>
		<key>Item</key>
		<string>Model Number</string>
		<key>Size</key>
		<integer>2</integer>
		<key>Read</key>
		<true/>
		<key>Write</key>
		<false/>
	</dict>
	<dict>
		<key>Address</key>
		<integer>2</integer>
		<key>Item</key>
		<string>Firmware Version</string>
		<key>Size</key>
		<integer>1</integer>
		<key>Read</key>
		<true/>
		<key>Write</key>
		<false/>
	</dict>
	<dict>
		<key>Address</key>
		<integer>3</integer>
		<key>Item</key>
		<string>ID</string>
		<key>Size</key>
		<integer>1</integer>
		<key>Read</key>
		<true/>
		<key>Write</key>
		<true/>
	</dict>
	<dict>
		<key>Address</key>
		<integer>4</integer>
		<key>Item</key>
		<string>Baud Rate</string>
		<key>Size</key>
		<integer>1</integer>
		<key>Read</key>
		<true/>
		<key>Write</key>
		<true/>
	</dict>
	<dict>
		<key>Address</key>
		<integer>5</integer>
		<key>Item</key>
		<string>Return Delay Time</string>
		<key>Size</key>
		<integer>1</integer>
		<key>Read</key>
		<true/>
		<key>Write</key>
		<true/>
	</dict>
	<dict>
		<key>Address</key>
		<integer>6</integer>
		<key>Item</key>
		<string>CW Angle Limit</string>
		<key>Size</key>
		<integer>2</integer>
		<key>Read</key>
		<true/>
		<key>Write</key>
		<true/>
	</dict>
	<dict>
		<key>Address</key>
		<integer>8</integer>
		<key>Item</key>
		<string>CCW Angle Limit</string>
		<key>Size</key>
		<integer>2</integer>
		<key>Read</key>
		<true/>
		<key>Write</key>
		<true/>
	</dict>
	<dict>
		<key>Address</key>
		<integer>11</integer>
		<key>Item</key>
		<string>Limit Temperature</string>
		<key>Size</key>
		<integer>1</integer>
		<key>Read</key>
		<true/>
		<key>Write</key>
		<true/>
	</dict>
	<dict>
		<key>Address</key>
		<integer>12</integer>
		<key>Item</key>
		<string>Limit Voltage (High)</string>
		<key>Size</key>
		<integer>1</integer>
		<key>Read</key>
		<true/>
		<key>Write</key>
		<true/>
	</dict>
	<dict>
		<key>Address</key>
		<integer>13</integer>
		<key>Item</key>
		<string>Limit Voltage (Low)</string>
		<key>Size</key>
		<integer>1</integer>
		<key>Read</key>
		<true/>
		<key>Write</key>
		<true/>
	</dict>
	<dict>
		<key>Address</key>
		<integer>14</integer>
		<key>Item</key>
		<string>Max Torque</string>
		<key>Size</key>
		<integer>2</integer>
		<key>Read</key>
		<true/>
		<key>Write</key>
		<true/>
	</dict>
	<dict>
		<key>Address</key>
		<integer>16</integer>
		<key>Item</key>
		<string>Status Return Level</string>
		<key>Size</key>
		<integer>1</integer>
		<key>Read</key>
		<true/>
		<key>Write</key>
		<true/>
	</dict>
	<dict>
		<key>Address</key>
		<integer>17</integer>
		<key>Item</key>
		<string>Alarm LED</string>
		<key>Size</key>
		<integer>1</integer>
		<key>Read</key>
		<true/>
		<key>Write</key>
		<true/>
	</dict>
	<dict>
		<key>Address</key>
		<integer>18</integer>
		<key>Item</key>
		<string>Alarm Shutdown</string>
		<key>Size</key>
		<integer>1</integer>
		<key>Read</key>
		<true/>
		<key>Write</key>
		<true/>
	</dict>
	<dict>
		<key>Address</key>
		<integer>20</integer>
		<key>Item</key>
		<string>Down Calibration</string>
		<key>Size</key>
		<integer>2</integer>
		<key>Read</key>
		<true/>
		<key>Write</key>
		<false/>
	</dict>
	<dict>
		<key>Address</key>
		<integer>22</integer>
		<key>Item</key>
		<string>Up Calibration</string>
		<key>Size</key>
		<integer>2</integer>
		<key>Read</key>
		<true/>
		<key>Write</key>
		<false/>
	</dict>
	<dict>
		<key>Address</key>
		<integer>24</integer>
		<key>Item</key>
		<string>Torque Enable</string>
		<key>Size</key>
		<integer>1</integer>
		<key>Read</key>
		<true/>
		<key>Write</key>
		<true/>
	</dict>
	<dict>
		<key>Address</key>
		<integer>25</integer>
		<key>Item</key>
		<string>LED</string>
		<key>Size</key>
		<integer>1</integer>
		<key>Read</key>
		<true/>
		<key>Write</key>
		<true/>
	</dict>
	<dict>
		<key>Address</key>
		<integer>26</integer>
		<key>Item</key>
		<string>CW Compliance Margin</string>
		<key>Size</key>
		<integer>1</integer>
		<key>Read</key>
		<true/>
		<key>Write</key>
		<true/>
	</dict>
	<dict>
		<key>Address</key>
		<integer>27</integer>
		<key>Item</key>
		<string>CCW Compliance Margin</string>
		<key>Size</key>
		<integer>1</integer>
		<key>Read</key>
		<true/>
		<key>Write</key>
		<true/>
	</dict>
	<dict>
		<key>Address</key>
		<integer>28</integer>
		<key>Item</key>
		<string>CW Compliance Slope</string>
		<key>Size</key>
		<integer>1</integer>
		<key>Read</key>
		<true/>
		<key>Write</key>
		<true/>
	</dict>
	<dict>
		<key>Address</key>
		<integer>29</integer>
		<key>Item</key>
		<string>CCW Compliance Slope</string>
		<key>Size</key>
		<integer>1</integer>
		<key>Read</key>
		<true/>
		<key>Write</key>
		<true/>
	</dict>
	<dict>
		<key>Address</key>
		<integer>30</integer>
		<key>Item</key>
		<string>Goal Position</string>
		<key>Size</key>
		<integer>2</integer>
		<key>Read</key>
		<true/>
		<key>Write</key>
		<true/>
	</dict>
	<dict>
		<key>Address</key>
		<integer>32</integer>
		<key>Item</key>
		<string>Moving Speed</string>
		<key>Size</key>
		<integer>2</integer>
		<key>Read</key>
		<true/>
		<key>Write</key>
		<true/>
	</dict>
	<dict>
		<key>Address</key>
		<integer>34</integer>
		<key>Item</key>
		<string>Torque Limit</string>
		<key>Size</key>
		<integer>2</integer>
		<key>Read</key>
		<true/>
		<key>Write</key>
		<true/>
	</dict>
	<dict>
		<key>Address</key>
		<integer>36</integer>
		<key>Item</key>
		<string>Present Position</string>
		<key>Size</key>
		<integer>2</integer>
		<key>Read</key>
		<true/>
		<key>Write</key>
		<false/>
	</dict>
	<dict>
		<key>Address</key>
		<integer>38</integer>
		<key>Item</key>
		<string>Present Speed</string>
		<key>Size</key>
		<integer>2</integer>
		<key>Read</key>
		<true/>
		<key>Write</key>
		<false/>
	</dict>
	<dict>
		<key>Address</key>
		<integer>40</integer>
		<key>Item</key>
		<string>Present Load</string>
		<key>Size</key>
		<integer>2</integer>
		<key>Read</key>
		<true/>
		<key>Write</key>
		<false/>
	</dict>
	<dict>
		<key>Address</key>
		<integer>42</integer>
		<key>Item</key>
		<string>Present Voltage</string>
		<key>Size</key>
		<integer>1</integer>
		<key>Read</key>
		<true/>
		<key>Write</key>
		<false/>
	</dict>
	<dict>
		<key>Address</key>
		<integer>43</integer>
		<key>Item</key>
		<string>Present Temperature</string>
		<key>Size</key>
		<integer>1</integer>
		<key>Read</key>
		<true/>
		<key>Write</key>
		<false/>
	</dict>
	<dict>
		<key>Address</key>
		<integer>44</integer>
		<key>Item</key>
		<string>Registered Instruction</string>
		<key>Size</key>
		<integer>1</integer>
		<key>Read</key>
		<true/>
		<key>Write</key>
		<true/>
	</dict>
	<dict>
		<key>Address</key>
		<integer>46</integer>
		<key>Item</key>
		<string>Moving</string>
		<key>Size</key>
		<integer>1</integer>
		<key>Read</key>
		<true/>
		<key>Write</key>
		<false/>
	</dict>
	<dict>
		<key>Address</key>
		<integer>47</integer>
		<key>Item</key>
		<string>Lock</string>
		<key>Size</key>
		<integer>1</integer>
		<key>Read</key>
		<true/>
		<key>Write</key>
		<true/>
	</dict>
	<dict>
		<key>Address</key>
		<integer>48</integer>
		<key>Item</key>
		<string>Punch</string>
		<key>Size</key>
		<integer>2</integer>
		<key>Read</key>
		<true/>
		<key>Write</key>
		<true/>
	</dict>
</array>
</plist>
